## Talent Trove Data Generation

In order to populate our Talent Trove database, we used real job postings from job aggregators online (e.g. Simplify by Michael Yan) for our job postings, and Mockaroo for our other tables. Additionally, we use an LLM as shown below to generate authentic-seeming reviews for the Review table text. 

The procedure used to obtain and preprocess each data CSV for the Talent Trove Database relations is described under its respective heading.

### Import Statements

In [55]:
import os
import time
import random
! pip install openai
import openai
import pandas as pd
import numpy as np
import torch

Requirement already satisfied: openai in ./.venv/lib/python3.10/site-packages (1.13.3)
Requirement already satisfied: anyio<5,>=3.5.0 in ./.venv/lib/python3.10/site-packages (from openai) (4.3.0)
Requirement already satisfied: distro<2,>=1.7.0 in ./.venv/lib/python3.10/site-packages (from openai) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in ./.venv/lib/python3.10/site-packages (from openai) (0.27.0)
Requirement already satisfied: pydantic<3,>=1.9.0 in ./.venv/lib/python3.10/site-packages (from openai) (2.6.3)
Requirement already satisfied: sniffio in ./.venv/lib/python3.10/site-packages (from openai) (1.3.1)
Requirement already satisfied: tqdm>4 in ./.venv/lib/python3.10/site-packages (from openai) (4.66.2)
Requirement already satisfied: typing-extensions<5,>=4.7 in ./.venv/lib/python3.10/site-packages (from openai) (4.10.0)
Requirement already satisfied: idna>=2.8 in ./.venv/lib/python3.10/site-packages (from anyio<5,>=3.5.0->openai) (3.6)
Requirement already satisfied: exceptiongroup>=1.0.2 in ./.venv/lib/python3.10/site-packages (from anyio<5,>=3.5.0->openai) (1.2.0)
Requirement already satisfied: certifi in ./.venv/lib/python3.10/site-packages (from httpx<1,>=0.23.0->openai) (2024.2.2)
Requirement already satisfied: httpcore==1.* in ./.venv/lib/python3.10/site-packages (from httpx<1,>=0.23.0->openai) (1.0.4)
Requirement already satisfied: h11<0.15,>=0.13 in ./.venv/lib/python3.10/site-packages (from httpcore==1.*->httpx<1,>=0.23.0->openai) (0.14.0)
Requirement already satisfied: annotated-types>=0.4.0 in ./.venv/lib/python3.10/site-packages (from pydantic<3,>=1.9.0->openai) (0.6.0)
Requirement already satisfied: pydantic-core==2.16.3 in ./.venv/lib/python3.10/site-packages (from pydantic<3,>=1.9.0->openai) (2.16.3)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [47]:
# Set OPENAI_API_KEY
os.environ['OPENAI_API_KEY'] = ''

### Full Time Job
- The data scraped from the above included the Role, Location, Application Link, and Date Posted for each tuple. 

#### Preprocessing: 
- 
-

In [2]:
full_time_job_df = pd.read_csv('data/Tech_Full_Time_Roles.csv', header=0)
full_time_job_df

,Company,Role,Location,Application/Link,Date Posted
0,Squarepoint Capital,Financing Trader,"London, UK","<a href=""https://boards.greenhouse.io/embed/j...",Feb 28
1,Altera Digital Health,Associate Software Engineer - Remote,Remote in USA,"<a href=""https://boards.greenhouse.io/alterad...",Feb 28
2,Altera Digital Health,Associate Software Engineer - Remote,Remote in USA,"<a href=""https://boards.greenhouse.io/alterad...",Feb 28
3,Lucid,Data Analyst,"Raleigh, NC","<a href=""https://boards.greenhouse.io/lucidso...",Feb 28
4,Lucid,Data Analyst,"Salt Lake City, UT","<a href=""https://boards.greenhouse.io/lucidso...",Feb 28
...,...,...,...,...,...
475,Virtu Financial,Trading Operations Analyst,"Austin, TX",üîí,Jul 19
476,Tower Research Capital,Quantitative Research Analyst,<details><summary>**5 locations**</summary>La...,"<a href=""https://www.tower-research.com/open-...",Jul 19
477,Harmony,AI Backend Engineer,"Palo Alto, CA",üîí,Jul 19
478,IXL Learning,Software Engineer ‚Äì New Grad,"Raleigh, NC",üîí,Jul 19
479,Konrad Group,Software Developer ‚Äì Entry Level,"Vancouver, BC, Canada",üîí,Jul 19

In [3]:
# Keep only 300 rows
full_time_job_df = full_time_job_df[:300]
print(len(full_time_job_df))

300

In [4]:
full_time_requirements = ['Tableau data analyst certification', 'AWS Cloud Practitioner certification']

In [5]:
# Save final job postings df for full time roles in 'Full_Time_Job.csv' for Full_Time_Job relation!

### Internship
- Our original internship data, stored in Tech_Internship.csv, was sourced from the Github page "Summer 2024 Tech Internships by Pitt CSC & Simplify" owned by Simplify, found here, on February 28th: https://github.com/SimplifyJobs/Summer2024-Internships
- This included Company, Role, Location, Application/Link, and Date Posted for each role. 
- For our Internship_Job table, we need Job_ID, Experience, Location, Requirements, Skills, Salaried (boolean), and Duration attributes.
 
#### Preprocessing: 
- In the initial data scraped from Github, a 'Ü≥' symbol was present in certain rows' 'Company' column denoting that the company name is the same as in the row before it. We impute the correct company name for each occurrence of this symbol.
- We dropped the Application/Link and Date Posted columns. 
- We generate a unique integer Job_ID for each internship posting.
- We randomly impute a value for the Experience, Requirements, Skills, Saliaried, and Duration attributes.

In [6]:
internship_df = pd.read_csv('data/Tech_Internship.csv', header=0)
internship_df

,Company,Role,Location,Application/Link,Date Posted
0,Chime,Software Engineer Intern - Growth Funding,SF,"<a href=""https://boards.greenhouse.io/chime/j...",Feb 28
1,CACI,Software Development Intern - Summer 2024,Remote in USA,"<a href=""https://caci.wd1.myworkdayjobs.com/E...",Feb 28
2,Western Digital,Summer 2024 Software Engineering Intern,"Longmont, CO","<a href=""https://jobs.smartrecruiters.com/Wes...",Feb 27
3,Veracode,Solutions Architecture and Security Consultin...,"Burlington, MA","<a href=""https://www.veracode.com/career/job?...",Feb 27
4,Roku,Machine Learning Engineer Intern,"San Jose, CA","<a href=""https://www.weareroku.com/jobs/57580...",Feb 27
...,...,...,...,...,...
2480,Zurich,Internship Program,Multiple Locations,üîí,May 2023
2481,BTIG,Software Engineer Intern,Multiple Locations,üîí,May 2023
2482,Internet Brands,Intern Software Engineer,"Los Angeles, California",üîí,May 2023
2483,Panasonic,Software Electrical Engineer Intern,TX,üîí,May 2023
2484,Capital One,Product Development Intern üõÇ,"McLean, VA</br>Plano, TX",üîí,May 2023

In [7]:
# Keep only 300 rows
internship_df = internship_df[:300]
print(len(internship_df))

300

In [8]:
# Replace 'Ü≥' symbols with correct company names, i.e. company name before that row
for i in range(len(internship_df)): 
    if internship_df.loc[i, 'Company'] == 'Ü≥ ' or internship_df.loc[i, 'Company'] == ' ‚Ü≥ ':
        internship_df.loc[i, 'Company'] = internship_df.loc[i-1, 'Company']
        
# Verify this was done correctly for all tuples
if not (internship_df['Company'] == 'Ü≥').any() or (internship_df['Company'] == ',Ü≥').any():
    print("There are no more 'Ü≥' symbols in the 'Company' column!")
internship_df

There are no more 'Ü≥' symbols in the 'Company' column!

/tmp/ipykernel_49711/1524265969.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  internship_df.loc[i, 'Company'] = internship_df.loc[i-1, 'Company']

,Company,Role,Location,Application/Link,Date Posted
0,Chime,Software Engineer Intern - Growth Funding,SF,"<a href=""https://boards.greenhouse.io/chime/j...",Feb 28
1,CACI,Software Development Intern - Summer 2024,Remote in USA,"<a href=""https://caci.wd1.myworkdayjobs.com/E...",Feb 28
2,Western Digital,Summer 2024 Software Engineering Intern,"Longmont, CO","<a href=""https://jobs.smartrecruiters.com/Wes...",Feb 27
3,Veracode,Solutions Architecture and Security Consultin...,"Burlington, MA","<a href=""https://www.veracode.com/career/job?...",Feb 27
4,Roku,Machine Learning Engineer Intern,"San Jose, CA","<a href=""https://www.weareroku.com/jobs/57580...",Feb 27
...,...,...,...,...,...
295,Inari Agriculture,Enterprise Data Quality Intern,"Cambridge, MA","<a href=""https://boards.greenhouse.io/inariag...",Dec 08
296,Quantcast,Software Engineering Intern - Summer 2024,"Seattle, WA","<a href=""https://jobs.lever.co/quantcast/9ab8...",Dec 07
297,Electric Hydrogen,Firmware Intern Summer 2024,"San Jose, CA","<a href=""https://eh2.com/careers?gh_jid=43477...",Dec 07
298,Niantic,Software Engineering Intern,"San Francisco, CA","<a href=""https://app.ripplematch.com/v2/publi...",Dec 06
299,Marshall Wace,Technology Internship (Summer 2024) üõÇ,"New York, NY","<a href=""https://www.mwam.com/news/internship...",Dec 06

In [9]:
# Drop duplicate rows
internship_df.drop_duplicates(inplace=True)
internship_df

/tmp/ipykernel_49711/919899477.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  internship_df.drop_duplicates(inplace=True)

,Company,Role,Location,Application/Link,Date Posted
0,Chime,Software Engineer Intern - Growth Funding,SF,"<a href=""https://boards.greenhouse.io/chime/j...",Feb 28
1,CACI,Software Development Intern - Summer 2024,Remote in USA,"<a href=""https://caci.wd1.myworkdayjobs.com/E...",Feb 28
2,Western Digital,Summer 2024 Software Engineering Intern,"Longmont, CO","<a href=""https://jobs.smartrecruiters.com/Wes...",Feb 27
3,Veracode,Solutions Architecture and Security Consultin...,"Burlington, MA","<a href=""https://www.veracode.com/career/job?...",Feb 27
4,Roku,Machine Learning Engineer Intern,"San Jose, CA","<a href=""https://www.weareroku.com/jobs/57580...",Feb 27
...,...,...,...,...,...
295,Inari Agriculture,Enterprise Data Quality Intern,"Cambridge, MA","<a href=""https://boards.greenhouse.io/inariag...",Dec 08
296,Quantcast,Software Engineering Intern - Summer 2024,"Seattle, WA","<a href=""https://jobs.lever.co/quantcast/9ab8...",Dec 07
297,Electric Hydrogen,Firmware Intern Summer 2024,"San Jose, CA","<a href=""https://eh2.com/careers?gh_jid=43477...",Dec 07
298,Niantic,Software Engineering Intern,"San Francisco, CA","<a href=""https://app.ripplematch.com/v2/publi...",Dec 06
299,Marshall Wace,Technology Internship (Summer 2024) üõÇ,"New York, NY","<a href=""https://www.mwam.com/news/internship...",Dec 06

In [10]:
# Drop Date Posted

In [11]:
# Assign a Job_ID to each internship

In [12]:
# Randomly impute a value for the Experience, Requirements, Skills, Saliaried, and Duration attributes for each tuple 
intern_experience_vals = ['None Required', 'Previous industry internship experience required (>=3 months)', 'Previous research/academic experience required (>=3 months)', 'Minimum 1 year previous industry internship experience required', 'Previous research/academic highly desirable']

In [13]:
intern_requirements_vals = ['Willing to relocate', 'Willing to travel up to 20%', 'Must meet base technical criteria', 'Must be proficient in Microsoft Office Suite', 'Good sense of humor', 'Ability to work independently', 'Familiar with Agile methodologies', 'Must have valid license', 'Must tolerate dogs in the workplace']

In [14]:
job_skills = ['Python', 'Scala', 'Pandas', 'AI/ML frameworks', 'PyTorch', 'Keras', 'Tensorflow', 'AWS', 'Azure', 'Google Cloud Platform', 'SQL', 'Oracle Databases', 'Databases', 'Java', 'Julia', 'Pascal', 'Perl', 'LaTeX', 'Scheme', 'Ruby', 'Ruby SQL', 'Flask', 'SQLite', 'PostgreSQL', 'MySQL', 'Tableau', 'PowerBI', 'Software Development', 'C++', 'C#', 'HTML/CSS/JavaScript', 'HTML/CSS', 'JavaScript', 'MongoDB', 'Neo4j', 'Agile', 'Scrum', 'Vue.js', 'React', 'Angular', 'Docker', 'Kubernetes', 'Sphinx', 'Jupyter', 'Git', 'Algorithms', 'Django', 'Problem-Solving', 'Leadership', 'Communication', 'Web Development', 'Frontend Stack', 'Backend Stack', 'Adobe Creative Suite', 'Financial modeling', 'Spanish', 'French', 'Hindi', 'Urdu', 'German', 'Italian', 'American Sign Language', 'Cybersecurity', 'Linux', 'Bash Scripting', 'Customer Support', 'Project Management', 'Networking Fundamentals', 'Algorithms', 'Jenkins', 'Kotlin', 'Swift', 'OOP', 'Ansible', 'Snowflake', 'Databricks', 'Budgeting', 'UX/UI Design', 'Graphic Design', 'Content Marketing', 'Technical Writing', 'SEO/SEM', 'Social Media Marketing', 'Hootsuite']

def get_random_skills(job_skills):
    # Pick random number of skills between 3 and 12
    num_skills = random.randint(5, 12)
    skills = []
    for i in range(num_skills):
        skills.append(random.choice(job_skills))
    skills = list(set(skills))
    skills_str = ', '.join(skills)
    return skills_str

In [15]:
duration_vals = ['4 weeks', '8 weeks', '12 weeks', '16 weeks']

In [16]:
# Make only 3% of values Salaried = False because I don't want to live in a database world where most companies benefit off the backs of innocent, eager interns 
salaried = [True, False]
salary_probs = [0.97, 0.03]
internship_df['Salaried'] = np.random.choice(salaried, size=len(internship_df), p=salary_probs)
internship_df

/tmp/ipykernel_47495/898184630.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  internship_df['Salaried'] = np.random.choice(salaried, size=len(internship_df), p=salary_probs)

,Company,Role,Location,Application/Link,Date Posted,Salaried
0,Chime,Software Engineer Intern - Growth Funding,SF,"<a href=""https://boards.greenhouse.io/chime/j...",Feb 28,True
1,CACI,Software Development Intern - Summer 2024,Remote in USA,"<a href=""https://caci.wd1.myworkdayjobs.com/E...",Feb 28,True
2,Western Digital,Summer 2024 Software Engineering Intern,"Longmont, CO","<a href=""https://jobs.smartrecruiters.com/Wes...",Feb 27,True
3,Veracode,Solutions Architecture and Security Consultin...,"Burlington, MA","<a href=""https://www.veracode.com/career/job?...",Feb 27,True
4,Roku,Machine Learning Engineer Intern,"San Jose, CA","<a href=""https://www.weareroku.com/jobs/57580...",Feb 27,True
...,...,...,...,...,...,...
295,Inari Agriculture,Enterprise Data Quality Intern,"Cambridge, MA","<a href=""https://boards.greenhouse.io/inariag...",Dec 08,True
296,Quantcast,Software Engineering Intern - Summer 2024,"Seattle, WA","<a href=""https://jobs.lever.co/quantcast/9ab8...",Dec 07,True
297,Electric Hydrogen,Firmware Intern Summer 2024,"San Jose, CA","<a href=""https://eh2.com/careers?gh_jid=43477...",Dec 07,True
298,Niantic,Software Engineering Intern,"San Francisco, CA","<a href=""https://app.ripplematch.com/v2/publi...",Dec 06,True
299,Marshall Wace,Technology Internship (Summer 2024) üõÇ,"New York, NY","<a href=""https://www.mwam.com/news/internship...",Dec 06,True

In [ ]:
# Save final internships df in 'Internship_Job.csv' for Internship_Job relation!

### Coop Job

### Company
- Mockaroo was used to obtain the Company_ID, Location, and Name column values for N rows, where N was the number of unique companies identified in our job postings. 
- We imput the Name attribute for the Company relation with Company names obtained from our job posting sources (namely, both full time roles and internship roles). There should be one entry in the Company table for each unique company found in either job postings CSV. 
- Because the location option on Mockaroo was only a street address, we impute a random city, state, and zip code as shown below.
- Additionally, we assign a random company type for the Type column. We arbitrarily deem 80% of the companies as private corporations, 5% as non-profit, and 15% as startups.

In [16]:
company_df = pd.read_csv('data/Mockaroo/Mockaroo-Company.csv', header=0)[:311]
company_df

                     Company_ID                 Address          Name  Type
0    01HQXAVCMWEXEJYR1CVK9QPZQ7          414 Havey Hill  Dazzlesphere   NaN
1    01HQXAVCMXRWCNSE1XGC88Z5KR      8989 Swallow Plaza         Skiba   NaN
2    01HQXAVCMXTRC4Y81YV23C1ZQ8          4778 Sage Lane      Edgeclub   NaN
3    01HQXAVCMXCRNPED9KR90QAGJN          42 Corben Road      Gigazoom   NaN
4    01HQXAVCMXJ11TZ0EJQNZST6SP      3 Sycamore Parkway         Quire   NaN
..                          ...                     ...           ...   ...
306  01HQXAVCQZT7RE42HZ1RT90XT3         23 Corscot Road        Meezzy   NaN
307  01HQXAVCQZYF5N9HVP8QNCXW97     566 Cordelia Center        BlogXS   NaN
308  01HQXAVCR0PX1DP6TJNR6FAJ4M    935 Old Gate Parkway        Skyble   NaN
309  01HQXAVCR0113ZBMBE6D7ARSM2  3792 Rutledge Crossing         Mydeo   NaN
310  01HQXAVCR009GYX7Z739EYC6DQ       9204 East Parkway       Tagopia   NaN

[311 rows x 4 columns]

In [17]:
# Get names of all unique companies represented in the database
full_time_companies = full_time_job_df['Company'].unique().tolist()
internship_companies = internship_df['Company'].unique().tolist()
all_company_names = list(set(full_time_companies + internship_companies))
print(f"There are {len(all_company_names)} companies in the dataset.")

There are 311 companies in the dataset.

In [18]:
# Replace Company Name values with real names
company_df['Name'] = all_company_names
company_df

,Company_ID,Address,Name,Type
0,01HQXAVCMWEXEJYR1CVK9QPZQ7,414 Havey Hill,Hudl,NaN
1,01HQXAVCMXRWCNSE1XGC88Z5KR,8989 Swallow Plaza,Alarm.com,NaN
2,01HQXAVCMXTRC4Y81YV23C1ZQ8,4778 Sage Lane,Forbes,NaN
3,01HQXAVCMXCRNPED9KR90QAGJN,42 Corben Road,Konrad Group,NaN
4,01HQXAVCMXJ11TZ0EJQNZST6SP,3 Sycamore Parkway,Ascend Analytics,NaN
...,...,...,...,...
306,01HQXAVCQZT7RE42HZ1RT90XT3,23 Corscot Road,Zynga,NaN
307,01HQXAVCQZYF5N9HVP8QNCXW97,566 Cordelia Center,Workato,NaN
308,01HQXAVCR0PX1DP6TJNR6FAJ4M,935 Old Gate Parkway,Wisk,NaN
309,01HQXAVCR0113ZBMBE6D7ARSM2,3792 Rutledge Crossing,Moveworks,NaN
310,01HQXAVCR009GYX7Z739EYC6DQ,9204 East Parkway,PlusAI,NaN

In [19]:
# Mapping of 'tech hub' cities, their state, and some example zip codes (making sure the city, state, and zip codes are coherent relative to each other). 
# Zip codes were obtained from Google searches. 
tech_hub_cities_mapping = {
    'New York': {'state': 'New York', 'zip_codes': ['10001', '10002', '10003']},
    'San Francisco': {'state': 'California', 'zip_codes': ['94102', '94103', '94107']},
    'Los Angeles': {'state': 'California', 'zip_codes': ['90001', '90002', '90003']},
    'Austin': {'state': 'Texas', 'zip_codes': ['73301', '73344', '778613']},
    'Dallas': {'state': 'Texas', 'zip_codes': ['75001', '75019', '75032']},
    'Seattle': {'state': 'Washington', 'zip_codes': ['98101', '98102', '98103']},
    'Atlanta': {'state': 'Georgia', 'zip_codes': ['30033', '30301', '30303']},
    'Denver': {'state': 'Colorado', 'zip_codes': ['80014', '80019', '80022']},
    'Chicago': {'state': 'Illinois', 'zip_codes': ['60007', '60018', '60106']},
    'Miami': {'state': 'Florida', 'zip_codes': ['33101', '33109', '33126']},
    'Tampa': {'state': 'Florida', 'zip_codes': ['33592', '33601', '33602']},
    'Boston': {'state': 'Massachusetts', 'zip_codes': ['02108', '02110', '02111']}
}

def generate_address(str_address):
    """Randomly selects a city and corresponding state and zip code from tech hub cities dictionary above."""
    city = random.choice(list(tech_hub_cities_mapping.keys()))
    state = tech_hub_cities_mapping[city]['state']
    zip_code = random.choice(tech_hub_cities_mapping[city]['zip_codes'])
    return str_address + ', ' + city + ', ' + state + ' ' + zip_code

# Assign random city, state, and zip code to each address
company_df['Address'] = company_df['Address'].apply(lambda x: generate_address(x).strip('"'))
company_df['Address'] = company_df['Address'].astype(str)
company_df

,Company_ID,Address,Name,Type
0,01HQXAVCMWEXEJYR1CVK9QPZQ7,"414 Havey Hill, Austin, Texas 73344",Hudl,NaN
1,01HQXAVCMXRWCNSE1XGC88Z5KR,"8989 Swallow Plaza, Los Angeles, California 90003",Alarm.com,NaN
2,01HQXAVCMXTRC4Y81YV23C1ZQ8,"4778 Sage Lane, Dallas, Texas 75032",Forbes,NaN
3,01HQXAVCMXCRNPED9KR90QAGJN,"42 Corben Road, San Francisco, California 94103",Konrad Group,NaN
4,01HQXAVCMXJ11TZ0EJQNZST6SP,"3 Sycamore Parkway, Austin, Texas 73344",Ascend Analytics,NaN
...,...,...,...,...
306,01HQXAVCQZT7RE42HZ1RT90XT3,"23 Corscot Road, Austin, Texas 73301",Zynga,NaN
307,01HQXAVCQZYF5N9HVP8QNCXW97,"566 Cordelia Center, New York, New York 10001",Workato,NaN
308,01HQXAVCR0PX1DP6TJNR6FAJ4M,"935 Old Gate Parkway, Denver, Colorado 80019",Wisk,NaN
309,01HQXAVCR0113ZBMBE6D7ARSM2,"3792 Rutledge Crossing, Los Angeles, Californi...",Moveworks,NaN
310,01HQXAVCR009GYX7Z739EYC6DQ,"9204 East Parkway, Atlanta, Georgia 30033",PlusAI,NaN

In [20]:
# Assign each company a random 'type' from some preset company types
company_types = ['Private Corporation', 'Non-Profit Organization', 'Startup']
probabilities = [0.80, 0.05, 0.15]
company_df['Type'] = np.random.choice(company_types, size=len(company_df), p=probabilities)
company_df

,Company_ID,Address,Name,Type
0,01HQXAVCMWEXEJYR1CVK9QPZQ7,"414 Havey Hill, Austin, Texas 73344",Hudl,Private Corporation
1,01HQXAVCMXRWCNSE1XGC88Z5KR,"8989 Swallow Plaza, Los Angeles, California 90003",Alarm.com,Private Corporation
2,01HQXAVCMXTRC4Y81YV23C1ZQ8,"4778 Sage Lane, Dallas, Texas 75032",Forbes,Startup
3,01HQXAVCMXCRNPED9KR90QAGJN,"42 Corben Road, San Francisco, California 94103",Konrad Group,Private Corporation
4,01HQXAVCMXJ11TZ0EJQNZST6SP,"3 Sycamore Parkway, Austin, Texas 73344",Ascend Analytics,Private Corporation
...,...,...,...,...
306,01HQXAVCQZT7RE42HZ1RT90XT3,"23 Corscot Road, Austin, Texas 73301",Zynga,Private Corporation
307,01HQXAVCQZYF5N9HVP8QNCXW97,"566 Cordelia Center, New York, New York 10001",Workato,Private Corporation
308,01HQXAVCR0PX1DP6TJNR6FAJ4M,"935 Old Gate Parkway, Denver, Colorado 80019",Wisk,Private Corporation
309,01HQXAVCR0113ZBMBE6D7ARSM2,"3792 Rutledge Crossing, Los Angeles, Californi...",Moveworks,Private Corporation
310,01HQXAVCR009GYX7Z739EYC6DQ,"9204 East Parkway, Atlanta, Georgia 30033",PlusAI,Private Corporation

In [69]:
# Save final company data
company_df.to_csv('data/Company.csv', index=False)

### Employee
- Mockaroo was used to generate the Employee_ID, Name, Job Title, Department, and Company column values. 
- However, because Mockaroo generates either fake or random real company names that may or may not have been represented in our (real) job postings data, we modified the Company column by imputing it with random Company names sourced from our Company relation. This improves our application data's realism significantly by making the two relations more consistent with each other.

In [21]:
employee_df = pd.read_csv('data/Mockaroo/Mockaroo-Employee.csv')
employee_df

,Employee_ID,Name,Job Title,Department,Company
0,01HQ9SN558SBTGP3CJ0SFCNX58,Johan Debold,Design Engineer,Accounting,Lendbuzz
1,01HQ9SN559DXNCX8PZGSPX86DQ,Aaron Janicki,Payment Adjustment Coordinator,Accounting,Zeno Group
2,01HQ9SN55ADXDE35WM2X25FRFN,Atalanta Watting,Marketing Manager,Business Development,Second Order Effects
3,01HQ9SN55BJ68WCF69VZ75WN9D,Kippie Caple,Director of Sales,Support,Domo
4,01HQ9SN55B1AQ4A44XRSQYVQ4B,Francklyn Jansey,Administrative Officer,Sales,Comerica Bank
...,...,...,...,...,...
94,01HQ9SN57BECEEC1DEDFDV2HPN,Katheryn Joannidi,Professor,Support,Tempus
95,01HQ9SN57B6SHA3DBMQQWB97AV,Irwin Giffen,Help Desk Operator,Services,Northwestern Mutual
96,01HQ9SN57C19SH5TQ03KMD41XB,Sarette Cheel,Speech Pathologist,Product Management,Skydio
97,01HQ9SN57DA8AY2Y6M4EE0KYVJ,Hillel Pero,Senior Financial Analyst,Business Development,The Walt Disney Company
98,01HQ9SN57DHCJ84D75BYFBF1JV,Natty Dagwell,Assistant Manager,Sales,Ebay

In [70]:
employee_df.to_csv('data/Employee.csv', index=False)

### Recruiter
- The initial Recruiter table data with a Username, Name, Address, Company, and Specialization for each row was generated using Mockaroo.
- Similar to the above Employee table, we impute the random Company names with Company names that are represented in the job postings to add realism.
- Similar to what was done for the Company table, given that Mockaroo can only generate street addresses, we also imputed each address with a random city and corresponding state and zip code.

In [22]:
recruiter_df = pd.read_csv('data/Mockaroo/Mockaroo-Recruiter.csv')
recruiter_df

,Username,Name,Address,Company,Specialization
0,fbrafield0,Fernandina Brafield,7272 Mesta Drive,Comerica Bank,Accounting
1,cmeech1,Corrine Meech,582 Warner Drive,Domo,Research and Development
2,dfeander2,Dalston Feander,12567 Elgar Street,Five9,Support
3,rbloggett3,Rawley Bloggett,533 Orin Street,TS Imagine,Legal
4,ehoulston4,Etheline Houlston,06 Pond Center,Align Technology,Marketing
5,bgascar5,Ban Gascar,1 Surrey Road,Linkedin,Business Development
6,lvose6,Loy Vose,3 Forest Run Road,Hudson River Trading,Marketing
7,ffossitt7,Ferdinanda Fossitt,98 Eliot Junction,Ramp,Accounting
8,abeagin8,Angela Beagin,0 Miller Place,Bodo.ai,Support
9,mcrowcher9,Miltie Crowcher,3824 Messerschmidt Plaza,Artisan Partners,Human Resources
10,obrechera,Olia Brecher,02 Buhler Way,TS Imagine,Human Resources
11,ahoutbyb,Anni Houtby,9 Fallview Way,Chick-fil-a,Human Resources
12,elicciardic,Ethelbert Licciardi,95 Pine View Junction,Mark43,Sales
13,okiddd,Otho Kidd,723 Portage Alley,Lumen,Business Development
14,mcorbridgee,Morna Corbridge,281 Heffernan Street,Extreme Reach,Research and Development
15,cvenessf,Courtney Veness,5244 Crowley Pass,SIEMENS,Services
16,jlibermoreg,Jim Libermore,64384 Bluejay Street,Workiva,Services
17,ctowseh,Clarita Towse,8443 Sloan Circle,Intuitive,Accounting
18,ohulburdi,Odella Hulburd,415 Farragut Park,Honeywell,Training
19,mparbrookj,Moll Parbrook,65816 Melby Alley,Wabtec Corporation,Training
20,jmcclochk,Joeann McCloch,3 Spohn Crossing,Skydio,Training
21,pgambiel,Paule Gambie,0478 Reindahl Terrace,Workiva,Services
22,ryerbym,Ringo Yerby,16008 Straubel Trail,Genuine Parts Company,Legal
23,dchelln,Derk Chell,3496 Loeprich Court,Fizz,Human Resources
24,kbrehato,Kaleena Brehat,14 Mifflin Parkway,TS Imagine,Product Management
25,ckedwardp,Case Kedward,65 Spenser Pass,Mastercard,Human Resources
26,kvivashq,Kareem Vivash,97973 Warner Place,Rivian,Training
27,xalexanderr,Ximenez Alexander,3 Lake View Center,Five9,Marketing
28,bgrunnells,Belicia Grunnell,0398 Rutledge Court,Lumen,Product Management
29,rasaaft,Rosaline Asaaf,171 Ohio Pass,TS Imagine,Engineering
30,gjohnu,Gian John,5053 Kedzie Court,Five9,Services
31,mdzenisenkav,Merry Dzenisenka,07 3rd Way,Zeno Group,Legal
32,zvendittow,Zola Venditto,76 Johnson Parkway,Advisor360¬∞,Research and Development
33,cmethamx,Claus Metham,75959 Oakridge Road,Comcast,Human Resources
34,icatfordy,Ivonne Catford,0455 Debs Avenue,Kitware,Business Development
35,kcapewellz,Keslie Capewell,62782 Bobwhite Road,Polaris,Legal
36,rtheis10,Rudy Theis,50441 Westerfield Circle,CesiumAstro,Marketing
37,hvanyukhin11,Herminia Vanyukhin,591 Clarendon Way,Uncountable,Engineering
38,gnaisby12,Gilligan Naisby,11305 Schurz Place,Archer,Support
39,ebeaufoy13,Emmit Beaufoy,59171 Doe Crossing Park,Second Order Effects,Services
40,xhugonnet14,Xaviera Hugonnet,77 Bayside Park,Ancestry,Research and Development
41,elangcastle15,Elsinore Langcastle,1 Lillian Circle,Anduril,Research and Development
42,dfarries16,Dulcie Farries,5 Ridge Oak Alley,Align Technology,Sales
43,eworledge17,Esme Worledge,387 Derek Parkway,Workiva,Product Management
44,tburet18,Tyson Buret,713 Blaine Street,Chick-fil-a,Business Development
45,agimblet19,Adelheid Gimblet,28117 School Street,MyFitnessPal,Legal
46,kcowoppe1a,Kessia Cowoppe,5 Kedzie Place,CesiumAstro,Legal
47,fallerton1b,Freda Allerton,25 Charing Cross Alley,Erie Insurance Group,Support
48,ctrodd1c,Cecile Trodd,9 Summit Junction,Proofpoint,Human Resources
49,ssignorelli1d,Swen Signorelli,67664 Moland Court,Generac Clean Energy,Research and Development

In [23]:
# Adjust street addresses to also have city, state, and zip code
recruiter_df['Address'] = recruiter_df['Address'].apply(lambda x: generate_address(x).strip('"'))
recruiter_df['Address'] = recruiter_df['Address'].astype(str)
recruiter_df

,Username,Name,Address,Company,Specialization
0,fbrafield0,Fernandina Brafield,"7272 Mesta Drive, Seattle, Washington 98102",Comerica Bank,Accounting
1,cmeech1,Corrine Meech,"582 Warner Drive, Denver, Colorado 80019",Domo,Research and Development
2,dfeander2,Dalston Feander,"12567 Elgar Street, Boston, Massachusetts 02110",Five9,Support
3,rbloggett3,Rawley Bloggett,"533 Orin Street, Los Angeles, California 90002",TS Imagine,Legal
4,ehoulston4,Etheline Houlston,"06 Pond Center, Austin, Texas 73301",Align Technology,Marketing
5,bgascar5,Ban Gascar,"1 Surrey Road, Seattle, Washington 98102",Linkedin,Business Development
6,lvose6,Loy Vose,"3 Forest Run Road, Los Angeles, California 90003",Hudson River Trading,Marketing
7,ffossitt7,Ferdinanda Fossitt,"98 Eliot Junction, Miami, Florida 33126",Ramp,Accounting
8,abeagin8,Angela Beagin,"0 Miller Place, Dallas, Texas 75032",Bodo.ai,Support
9,mcrowcher9,Miltie Crowcher,"3824 Messerschmidt Plaza, Tampa, Florida 33592",Artisan Partners,Human Resources
10,obrechera,Olia Brecher,"02 Buhler Way, Austin, Texas 73344",TS Imagine,Human Resources
11,ahoutbyb,Anni Houtby,"9 Fallview Way, Chicago, Illinois 60018",Chick-fil-a,Human Resources
12,elicciardic,Ethelbert Licciardi,"95 Pine View Junction, Los Angeles, California...",Mark43,Sales
13,okiddd,Otho Kidd,"723 Portage Alley, San Francisco, California 9...",Lumen,Business Development
14,mcorbridgee,Morna Corbridge,"281 Heffernan Street, Austin, Texas 778613",Extreme Reach,Research and Development
15,cvenessf,Courtney Veness,"5244 Crowley Pass, Tampa, Florida 33602",SIEMENS,Services
16,jlibermoreg,Jim Libermore,"64384 Bluejay Street, Boston, Massachusetts 02110",Workiva,Services
17,ctowseh,Clarita Towse,"8443 Sloan Circle, Chicago, Illinois 60007",Intuitive,Accounting
18,ohulburdi,Odella Hulburd,"415 Farragut Park, Austin, Texas 73301",Honeywell,Training
19,mparbrookj,Moll Parbrook,"65816 Melby Alley, Miami, Florida 33126",Wabtec Corporation,Training
20,jmcclochk,Joeann McCloch,"3 Spohn Crossing, Miami, Florida 33109",Skydio,Training
21,pgambiel,Paule Gambie,"0478 Reindahl Terrace, Seattle, Washington 98101",Workiva,Services
22,ryerbym,Ringo Yerby,"16008 Straubel Trail, Seattle, Washington 98103",Genuine Parts Company,Legal
23,dchelln,Derk Chell,"3496 Loeprich Court, Miami, Florida 33126",Fizz,Human Resources
24,kbrehato,Kaleena Brehat,"14 Mifflin Parkway, Dallas, Texas 75001",TS Imagine,Product Management
25,ckedwardp,Case Kedward,"65 Spenser Pass, Los Angeles, California 90002",Mastercard,Human Resources
26,kvivashq,Kareem Vivash,"97973 Warner Place, New York, New York 10003",Rivian,Training
27,xalexanderr,Ximenez Alexander,"3 Lake View Center, Denver, Colorado 80014",Five9,Marketing
28,bgrunnells,Belicia Grunnell,"0398 Rutledge Court, Miami, Florida 33101",Lumen,Product Management
29,rasaaft,Rosaline Asaaf,"171 Ohio Pass, Los Angeles, California 90003",TS Imagine,Engineering
30,gjohnu,Gian John,"5053 Kedzie Court, Tampa, Florida 33601",Five9,Services
31,mdzenisenkav,Merry Dzenisenka,"07 3rd Way, Austin, Texas 73344",Zeno Group,Legal
32,zvendittow,Zola Venditto,"76 Johnson Parkway, Tampa, Florida 33601",Advisor360¬∞,Research and Development
33,cmethamx,Claus Metham,"75959 Oakridge Road, San Francisco, California...",Comcast,Human Resources
34,icatfordy,Ivonne Catford,"0455 Debs Avenue, Los Angeles, California 90003",Kitware,Business Development
35,kcapewellz,Keslie Capewell,"62782 Bobwhite Road, Boston, Massachusetts 02110",Polaris,Legal
36,rtheis10,Rudy Theis,"50441 Westerfield Circle, San Francisco, Calif...",CesiumAstro,Marketing
37,hvanyukhin11,Herminia Vanyukhin,"591 Clarendon Way, Boston, Massachusetts 02111",Uncountable,Engineering
38,gnaisby12,Gilligan Naisby,"11305 Schurz Place, New York, New York 10001",Archer,Support
39,ebeaufoy13,Emmit Beaufoy,"59171 Doe Crossing Park, New York, New York 10003",Second Order Effects,Services
40,xhugonnet14,Xaviera Hugonnet,"77 Bayside Park, Tampa, Florida 33592",Ancestry,Research and Development
41,elangcastle15,Elsinore Langcastle,"1 Lillian Circle, Tampa, Florida 33602",Anduril,Research and Development
42,dfarries16,Dulcie Farries,"5 Ridge Oak Alley, Tampa, Florida 33592",Align Technology,Sales
43,eworledge17,Esme Worledge,"387 Derek Parkway, Tampa, Florida 33601",Workiva,Product Management
44,tburet18,Tyson Buret,"713 Blaine Street, Tampa, Florida 33592",Chick-fil-a,Business Development
45,agimblet19,Adelheid Gimblet,"28117 School Street, Atlanta, Georgia 30303",MyFitnessPal,Legal
46,kcowoppe1a,Kessia Cowoppe,"5 Kedzie Place, Boston, Massachusetts 02108",CesiumAstro,Legal
47,fallerton1b,Freda Allerton,"25 Charing Cross Alley, Atlanta, Georgia 30303",Erie Insurance Group,Support
48,ctrodd1c,Cecile Trodd,"9 Summit Junction, New York, New York 10002",Proofpoint,Human Resources
49,ssignorelli1d,Swen Signorelli,"67664 Moland Court, Chicago, Illinois 60018",Generac Clean Energy,Research and Development

In [73]:
recruiter_df.to_csv('data/Recruiter.csv', index=False)

### Candidate
- The original candidate data containing a Username, Name, Address, Education, and Email for each candidate was generated using Mockaroo.
- We add a city, state, and zip code to each of the street addresses Mockaroo generated.
- Because Mockaroo was only able to populate university names in the education column, we modify these entries below to include a random degree (followed by the university name).
- Skills are populated randomly based on the list of skills used to populate job postings.
- A plaintext resume for each candidate was generated using an OpenAI assistant as shown below. 
- The PastApplications column, which keeps track of the total number of applications a user has made in the past, is randomly generated.

In [24]:
candidate_df = pd.read_csv('data/Mockaroo/Mockaroo-Candidate.csv')
candidate_df

,Username,Name,Address,Education,Email
0,lsyvret0,Ludvig Syvret,29 Wayridge Crossing,Old Dominion University,lsyvret0@imageshack.us
1,ahourstan1,Adair Hourstan,7794 Rutledge Plaza,Ecole Nationale Supérieure de Chimie de Mulhouse,ahourstan1@cocolog-nifty.com
2,arosedale2,Aubert Rosedale,386 Old Shore Trail,University of Colombo,arosedale2@amazonaws.com
3,dbushrod3,Dollie Bushrod,65560 Hallows Point,Lanzhou University,dbushrod3@springer.com
4,serskin4,Sarajane Erskin,2363 Tennessee Lane,Universitas Pesantren Darul Ulum Jombang,serskin4@nifty.com
...,...,...,...,...,...
295,gduthie87,Giuditta Duthie,43109 Lighthouse Bay Court,Holy Spirit University of Kaslik,gduthie87@mtv.com
296,awetwood88,Andres Wetwood,1512 Havey Point,Kyoritsu Pharmaceutical University,awetwood88@webmd.com
297,kcatterson89,Kin Catterson,94 Emmet Hill,Chosun University,kcatterson89@phpbb.com
298,eknight8a,Emile Knight,225 Oriole Way,University of Vaasa,eknight8a@issuu.com
299,rellaman8b,Rustin Ellaman,97 Linden Way,Penza State University,rellaman8b@economist.com

In [25]:
# Adjust street addresses to also have city, state, and zip code
candidate_df['Address'] = candidate_df['Address'].apply(lambda x: generate_address(x).strip('"'))
candidate_df['Address'] = candidate_df['Address'].astype(str)
candidate_df

,Username,Name,Address,Education,Email
0,lsyvret0,Ludvig Syvret,"29 Wayridge Crossing, Dallas, Texas 75001",Old Dominion University,lsyvret0@imageshack.us
1,ahourstan1,Adair Hourstan,"7794 Rutledge Plaza, Dallas, Texas 75019",Ecole Nationale Supérieure de Chimie de Mulhouse,ahourstan1@cocolog-nifty.com
2,arosedale2,Aubert Rosedale,"386 Old Shore Trail, Tampa, Florida 33602",University of Colombo,arosedale2@amazonaws.com
3,dbushrod3,Dollie Bushrod,"65560 Hallows Point, Chicago, Illinois 60007",Lanzhou University,dbushrod3@springer.com
4,serskin4,Sarajane Erskin,"2363 Tennessee Lane, San Francisco, California...",Universitas Pesantren Darul Ulum Jombang,serskin4@nifty.com
...,...,...,...,...,...
295,gduthie87,Giuditta Duthie,"43109 Lighthouse Bay Court, Austin, Texas 73344",Holy Spirit University of Kaslik,gduthie87@mtv.com
296,awetwood88,Andres Wetwood,"1512 Havey Point, Seattle, Washington 98102",Kyoritsu Pharmaceutical University,awetwood88@webmd.com
297,kcatterson89,Kin Catterson,"94 Emmet Hill, Boston, Massachusetts 02108",Chosun University,kcatterson89@phpbb.com
298,eknight8a,Emile Knight,"225 Oriole Way, Boston, Massachusetts 02111",University of Vaasa,eknight8a@issuu.com
299,rellaman8b,Rustin Ellaman,"97 Linden Way, Dallas, Texas 75001",Penza State University,rellaman8b@economist.com

In [26]:
# Populate Education column with random degrees 
degree_options = ['High School Diploma', 'Bachelor of Science', 'Bachelor of Arts', 'Master of Science', 'Master of Arts', 'PhD in Computer Science']
probabilities_degree = [0.03, 0.60, 0.15, 0.15, 0.05, 0.02]
degrees = np.random.choice(degree_options, size=len(candidate_df), p=probabilities_degree)
candidate_df['Education'] = candidate_df.apply(lambda row: f"{degrees[row.name]}, {row['Education']}" if row['Education'] != 'High School Diploma' and degrees[row.name] != 'High School Diploma' else 'High School Diploma', axis=1)
candidate_df

,Username,Name,Address,Education,Email
0,lsyvret0,Ludvig Syvret,"29 Wayridge Crossing, Dallas, Texas 75001","Bachelor of Science, Old Dominion University",lsyvret0@imageshack.us
1,ahourstan1,Adair Hourstan,"7794 Rutledge Plaza, Dallas, Texas 75019","Bachelor of Science, Ecole Nationale Supérieur...",ahourstan1@cocolog-nifty.com
2,arosedale2,Aubert Rosedale,"386 Old Shore Trail, Tampa, Florida 33602","Bachelor of Science, University of Colombo",arosedale2@amazonaws.com
3,dbushrod3,Dollie Bushrod,"65560 Hallows Point, Chicago, Illinois 60007","Bachelor of Science, Lanzhou University",dbushrod3@springer.com
4,serskin4,Sarajane Erskin,"2363 Tennessee Lane, San Francisco, California...","Bachelor of Science, Universitas Pesantren Dar...",serskin4@nifty.com
...,...,...,...,...,...
295,gduthie87,Giuditta Duthie,"43109 Lighthouse Bay Court, Austin, Texas 73344","Bachelor of Science, Holy Spirit University of...",gduthie87@mtv.com
296,awetwood88,Andres Wetwood,"1512 Havey Point, Seattle, Washington 98102","Master of Science, Kyoritsu Pharmaceutical Uni...",awetwood88@webmd.com
297,kcatterson89,Kin Catterson,"94 Emmet Hill, Boston, Massachusetts 02108","Bachelor of Science, Chosun University",kcatterson89@phpbb.com
298,eknight8a,Emile Knight,"225 Oriole Way, Boston, Massachusetts 02111","Bachelor of Science, University of Vaasa",eknight8a@issuu.com
299,rellaman8b,Rustin Ellaman,"97 Linden Way, Dallas, Texas 75001","Bachelor of Science, Penza State University",rellaman8b@economist.com

In [27]:
# Populate Skills column randomly using skills used to populate job postings
skills_vals = [get_random_skills(job_skills) for i in range(len(candidate_df))]
candidate_df = candidate_df.assign(Skills=skills_vals)
candidate_df

,Username,Name,Address,Education,Email,Skills
0,lsyvret0,Ludvig Syvret,"29 Wayridge Crossing, Dallas, Texas 75001","Bachelor of Science, Old Dominion University",lsyvret0@imageshack.us,"Kubernetes, Snowflake, Software Development, G..."
1,ahourstan1,Adair Hourstan,"7794 Rutledge Plaza, Dallas, Texas 75019","Bachelor of Science, Ecole Nationale Supérieur...",ahourstan1@cocolog-nifty.com,"Julia, Software Development, Databases, Web De..."
2,arosedale2,Aubert Rosedale,"386 Old Shore Trail, Tampa, Florida 33602","Bachelor of Science, University of Colombo",arosedale2@amazonaws.com,"Kubernetes, UX/UI Design, Sphinx, Italian, Ame..."
3,dbushrod3,Dollie Bushrod,"65560 Hallows Point, Chicago, Illinois 60007","Bachelor of Science, Lanzhou University",dbushrod3@springer.com,"SQL, Kubernetes, Django, Azure, C#, Kotlin, SQ..."
4,serskin4,Sarajane Erskin,"2363 Tennessee Lane, San Francisco, California...","Bachelor of Science, Universitas Pesantren Dar...",serskin4@nifty.com,"Frontend Stack, Azure, C#, Google Cloud Platfo..."
...,...,...,...,...,...,...
295,gduthie87,Giuditta Duthie,"43109 Lighthouse Bay Court, Austin, Texas 73344","Bachelor of Science, Holy Spirit University of...",gduthie87@mtv.com,"React, Perl, LaTeX, Tensorflow, Tableau"
296,awetwood88,Andres Wetwood,"1512 Havey Point, Seattle, Washington 98102","Master of Science, Kyoritsu Pharmaceutical Uni...",awetwood88@webmd.com,"Urdu, SQL, C#, Docker, Leadership, Hootsuite"
297,kcatterson89,Kin Catterson,"94 Emmet Hill, Boston, Massachusetts 02108","Bachelor of Science, Chosun University",kcatterson89@phpbb.com,"Git, Django, Customer Support, Google Cloud Pl..."
298,eknight8a,Emile Knight,"225 Oriole Way, Boston, Massachusetts 02111","Bachelor of Science, University of Vaasa",eknight8a@issuu.com,"Urdu, Spanish, Google Cloud Platform, Problem-..."
299,rellaman8b,Rustin Ellaman,"97 Linden Way, Dallas, Texas 75001","Bachelor of Science, Penza State University",rellaman8b@economist.com,"Backend Stack, SQL, LaTeX, Technical Writing, ..."

In [70]:
# Generate plaintext resume for each candidate tuple using OpenAI LLM
client = openai.Client()
assistant = client.beta.assistants.create(
    name="Math Tutor",
    instructions="You are a personal resume writer who is very creative. You write plaintext resume examples for clients.",
    tools=[{"type": "code_interpreter"}],
    model="gpt-3.5-turbo"
)

thread = client.beta.threads.create()

def generate_plaintext_resume(name, address, email, education, skills):
    prompt = f"Write a plaintext resume for {name}. Address: {address}. Email: {email}. Education: {education}. Skills: {skills}."
    num_resumes = 1
    for _ in range(num_resumes):
        response = client.completions.create(
            model="gpt-3.5-turbo",
            prompt=prompt,
            max_tokens=200,
        )
        # print story
        print(prompt + response.choices[0].text)

In [71]:
# Test run 
test_row = list(candidate_df.iloc[0])
generate_plaintext_resume(test_row[1], test_row[2], test_row[4], test_row[3], test_row[5])

RateLimitError: Error code: 429 - {'error': {'message': 'You exceeded your current quota, please check your plan and billing details. For more information on this error, read the docs: https://platform.openai.com/docs/guides/error-codes/api-errors.', 'type': 'insufficient_quota', 'param': None, 'code': 'insufficient_quota'}}

In [ ]:
# Populate PastApplications attribute values by randomly choosing a number between 0 and 50 for each candidate
candidate_df = candidate_df.assign(PastApplications=[random.randint(0, 50) for _ in range(len(candidate_df))])
candidate_df

In [ ]:
candidate_df.to_csv('data/Candidate.csv', index=False)

### Job Portal
- For each Company represented in our data, we generated a random Portal ID and Name (corresponding to the Company name).

In [72]:
portal_df = pd.read_csv('data/Mockaroo/Mockaroo-Job_Portal.csv')
portal_df

                      Portal_ID     Company
0    01HQY4F1HC1XGPARVQC09JMXXB      Skinte
1    01HQY4F1HCVSC3ECXQQ0181Z9Y   Topicware
2    01HQY4F1HDQFA6E50X5N6AB7P7     Yakidoo
3    01HQY4F1HDDE43MHBEJD2ZG5AB    Innotype
4    01HQY4F1HDZAG3B5F4D146GEXR      Meeveo
..                          ...         ...
306  01HQY4F1KTJGBN9QB2FVECCD3F      Tekfly
307  01HQY4F1KTTVY1YM1ZAMPGP66N        Mita
308  01HQY4F1KTD55SYC08WZ3410WP  Browseblab
309  01HQY4F1KTGG0WCW2SH8FCMM4G      Podcat
310  01HQY4F1KVW1FK5ACZ1DCRFFYG      Wikido

[311 rows x 2 columns]

In [74]:
portal_df['Company'] = all_company_names
portal_df

                      Portal_ID           Company
0    01HQY4F1HC1XGPARVQC09JMXXB             Hudl
1    01HQY4F1HCVSC3ECXQQ0181Z9Y         Alarm.com
2    01HQY4F1HDQFA6E50X5N6AB7P7            Forbes
3    01HQY4F1HDDE43MHBEJD2ZG5AB      Konrad Group
4    01HQY4F1HDZAG3B5F4D146GEXR  Ascend Analytics
..                          ...               ...
306  01HQY4F1KTJGBN9QB2FVECCD3F            Zynga
307  01HQY4F1KTTVY1YM1ZAMPGP66N          Workato
308  01HQY4F1KTD55SYC08WZ3410WP              Wisk
309  01HQY4F1KTGG0WCW2SH8FCMM4G         Moveworks
310  01HQY4F1KVW1FK5ACZ1DCRFFYG            PlusAI

[311 rows x 2 columns]

In [75]:
portal_df.to_csv('data/Job_Portal.csv', index=False)

### Review

In [ ]:
# Generate Reviews using random review ID and an LLM for the Review body