## Talent Trove Data Generation

In order to populate our Talent Trove database, we used real job postings from job aggregators online (e.g. Simplify by Michael Yan) for our job postings, and Mockaroo for our other tables. Additionally, we use an LLM as shown below to generate authentic-seeming reviews for the Review table text. 

The procedure used to obtain and preprocess each data CSV for the Talent Trove Database relations is described under its respective heading.

### Import Statements

In [1]:
import pandas as pd
import numpy as np
import random

### Full Time Job
- The data scraped from the above included the Role, Location, Application Link, and Date Posted for each tuple. 

#### Preprocessing: 
- 
-

In [10]:
full_time_job_df = pd.read_csv('data/Tech_Full_Time_Roles.csv', header=0)
full_time_job_df

,Company,Role,Location,Application/Link,Date Posted
0,Squarepoint Capital,Financing Trader,"London, UK","<a href=""https://boards.greenhouse.io/embed/j...",Feb 28
1,Altera Digital Health,Associate Software Engineer - Remote,Remote in USA,"<a href=""https://boards.greenhouse.io/alterad...",Feb 28
2,Altera Digital Health,Associate Software Engineer - Remote,Remote in USA,"<a href=""https://boards.greenhouse.io/alterad...",Feb 28
3,Lucid,Data Analyst,"Raleigh, NC","<a href=""https://boards.greenhouse.io/lucidso...",Feb 28
4,Lucid,Data Analyst,"Salt Lake City, UT","<a href=""https://boards.greenhouse.io/lucidso...",Feb 28
...,...,...,...,...,...
475,Virtu Financial,Trading Operations Analyst,"Austin, TX",üîí,Jul 19
476,Tower Research Capital,Quantitative Research Analyst,<details><summary>**5 locations**</summary>La...,"<a href=""https://www.tower-research.com/open-...",Jul 19
477,Harmony,AI Backend Engineer,"Palo Alto, CA",üîí,Jul 19
478,IXL Learning,Software Engineer ‚Äì New Grad,"Raleigh, NC",üîí,Jul 19
479,Konrad Group,Software Developer ‚Äì Entry Level,"Vancouver, BC, Canada",üîí,Jul 19

In [ ]:
full_time_requirements = ['Tableau data analyst certification', 'AWS Cloud Practitioner certification']

In [ ]:
# Save final job postings df for full time roles in 'Full_Time_Job.csv' for Full_Time_Job relation!

### Internship
- Our original internship data, stored in Tech_Internship.csv, was sourced from the Github page "Summer 2024 Tech Internships by Pitt CSC & Simplify" owned by Simplify, found here, on February 28th: https://github.com/SimplifyJobs/Summer2024-Internships
- This included Company, Role, Location, Application/Link, and Date Posted for each role. 
- For our Internship_Job table, we need Job_ID, Experience, Location, Requirements, Skills, Salaried (boolean), and Duration attributes.
 
#### Preprocessing: 
- In the initial data scraped from Github, a 'Ü≥' symbol was present in certain rows' 'Company' column denoting that the company name is the same as in the row before it. We impute the correct company name for each occurrence of this symbol.
- We dropped the Application/Link and Date Posted columns. 
- We generate a unique integer Job_ID for each internship posting.
- We randomly impute a value for the Experience, Requirements, Skills, Saliaried, and Duration attributes.

In [22]:
internship_df = pd.read_csv('data/Tech_Internship.csv', header=0)
internship_df

,Company,Role,Location,Application/Link,Date Posted
0,Chime,Software Engineer Intern - Growth Funding,SF,"<a href=""https://boards.greenhouse.io/chime/j...",Feb 28
1,CACI,Software Development Intern - Summer 2024,Remote in USA,"<a href=""https://caci.wd1.myworkdayjobs.com/E...",Feb 28
2,Western Digital,Summer 2024 Software Engineering Intern,"Longmont, CO","<a href=""https://jobs.smartrecruiters.com/Wes...",Feb 27
3,Veracode,Solutions Architecture and Security Consultin...,"Burlington, MA","<a href=""https://www.veracode.com/career/job?...",Feb 27
4,Roku,Machine Learning Engineer Intern,"San Jose, CA","<a href=""https://www.weareroku.com/jobs/57580...",Feb 27
...,...,...,...,...,...
2480,Zurich,Internship Program,Multiple Locations,üîí,May 2023
2481,BTIG,Software Engineer Intern,Multiple Locations,üîí,May 2023
2482,Internet Brands,Intern Software Engineer,"Los Angeles, California",üîí,May 2023
2483,Panasonic,Software Electrical Engineer Intern,TX,üîí,May 2023
2484,Capital One,Product Development Intern üõÇ,"McLean, VA</br>Plano, TX",üîí,May 2023

In [23]:
# Replace 'Ü≥' symbols with correct company names, i.e. company name before that row
for i in range(len(internship_df)): 
    if internship_df.loc[i, 'Company'] == 'Ü≥ ' or internship_df.loc[i, 'Company'] == ' ‚Ü≥ ':
        internship_df.loc[i, 'Company'] = internship_df.loc[i-1, 'Company']
        
# Verify this was done correctly for all tuples
if not (internship_df['Company'] == 'Ü≥').any() or (internship_df['Company'] == ',Ü≥').any():
    print("There are no more 'Ü≥' symbols in the 'Company' column!")
internship_df

There are no more 'Ü≥' symbols in the 'Company' column!

,Company,Role,Location,Application/Link,Date Posted
0,Chime,Software Engineer Intern - Growth Funding,SF,"<a href=""https://boards.greenhouse.io/chime/j...",Feb 28
1,CACI,Software Development Intern - Summer 2024,Remote in USA,"<a href=""https://caci.wd1.myworkdayjobs.com/E...",Feb 28
2,Western Digital,Summer 2024 Software Engineering Intern,"Longmont, CO","<a href=""https://jobs.smartrecruiters.com/Wes...",Feb 27
3,Veracode,Solutions Architecture and Security Consultin...,"Burlington, MA","<a href=""https://www.veracode.com/career/job?...",Feb 27
4,Roku,Machine Learning Engineer Intern,"San Jose, CA","<a href=""https://www.weareroku.com/jobs/57580...",Feb 27
...,...,...,...,...,...
2480,Zurich,Internship Program,Multiple Locations,üîí,May 2023
2481,BTIG,Software Engineer Intern,Multiple Locations,üîí,May 2023
2482,Internet Brands,Intern Software Engineer,"Los Angeles, California",üîí,May 2023
2483,Panasonic,Software Electrical Engineer Intern,TX,üîí,May 2023
2484,Capital One,Product Development Intern üõÇ,"McLean, VA</br>Plano, TX",üîí,May 2023

In [25]:
# Drop duplicate rows
internship_df.drop_duplicates(inplace=True)
internship_df

,Company,Role,Location,Application/Link,Date Posted
0,Chime,Software Engineer Intern - Growth Funding,SF,"<a href=""https://boards.greenhouse.io/chime/j...",Feb 28
1,CACI,Software Development Intern - Summer 2024,Remote in USA,"<a href=""https://caci.wd1.myworkdayjobs.com/E...",Feb 28
2,Western Digital,Summer 2024 Software Engineering Intern,"Longmont, CO","<a href=""https://jobs.smartrecruiters.com/Wes...",Feb 27
3,Veracode,Solutions Architecture and Security Consultin...,"Burlington, MA","<a href=""https://www.veracode.com/career/job?...",Feb 27
4,Roku,Machine Learning Engineer Intern,"San Jose, CA","<a href=""https://www.weareroku.com/jobs/57580...",Feb 27
...,...,...,...,...,...
2480,Zurich,Internship Program,Multiple Locations,üîí,May 2023
2481,BTIG,Software Engineer Intern,Multiple Locations,üîí,May 2023
2482,Internet Brands,Intern Software Engineer,"Los Angeles, California",üîí,May 2023
2483,Panasonic,Software Electrical Engineer Intern,TX,üîí,May 2023
2484,Capital One,Product Development Intern üõÇ,"McLean, VA</br>Plano, TX",üîí,May 2023

In [ ]:
# Assign a Job_ID to each internship

In [ ]:
# Randomly impute a value for the Experience, Requirements, Skills, Saliaried, and Duration attributes for each tuple 
intern_experience_vals = ['None Required', 'Previous industry internship experience required (>=3 months)', 'Previous research/academic experience required (>=3 months)', 'Minimum 1 year previous industry internship experience required', 'Previous research/academic highly desirable']
intern_requirements_vals = ['Willing to relocate', 'Willing to travel up to 20%', 'Must meet base technical criteria', 'Must be proficient in Microsoft Office Suite', 'Good sense of humor', 'Ability to work independently', 'Familiar with Agile methodologies', 'Must have valid license', 'Must tolerate dogs in the workplace']
intern_skills_vals = ['Python', 'Scala', 'Pandas', 'AI/ML frameworks', 'PyTorch', 'Keras', 'Tensorflow', 'AWS', 'Azure', 'Google Cloud Platform', 'SQL', 'Oracle Databases', 'Databases', 'Java', 'Ruby', 'Ruby SQL', 'Flask', 'SQLite', 'PostGreSQL', 'Tableau', 'PowerBI', 'Software Development', 'C++', 'C#', 'HTML/CSS', 'JavaScript', 'MongoDB', 'Neo4j', 'Agile', 'Scrum', 'Vue.js', 'React', 'Angular', 'Docker', 'Kubernetes', 'Sphinx', 'Jupyter', 'Git', 'Algorithms', 'Django', 'Problem-Solving', 'Leadership', 'Communication', 'Web Development', 'Frontend Stack', 'Backend Stack']
duration_vals = ['4 weeks', '8 weeks', '12 weeks', '16 weeks']

# Make only 5% of values Salaried = False because I don't want to live in a database world where most companies benefit off the backs of innocent, eager interns

In [ ]:
# Save final internships df in 'Internship_Job.csv' for Internship_Job relation!

### Coop Job

### Company
- Mockaroo was used to obtain the Company_ID, Location, and Name column values for N rows, where N was the number of unique companies identified in our job postings. 
- Because the location option on Mockaroo was only a street address, we impute a random city, state, and zip code as shown below.
- Additionally, we assign a random company type for the Type column.

In [4]:
company_df = pd.read_csv('data/Company.csv', header=0)
company_df

                    Company_ID                  Location         Name  Type
0   01HQSF3HE735NYXMMF8P342E6T    3 Morningstar Crossing       Skyndu   NaN
1   01HQSF3HE7BFVW5G7FTRPYCPPD         14 Larry Crossing     Brainbox   NaN
2   01HQSF3HE7HVGEV8MWDNR9D7YQ           734 Sloan Place      Gabcube   NaN
3   01HQSF3HE8NH4YYAPK2WZQ8ZEM        93710 Dovetail Way         Geba   NaN
4   01HQSF3HE8D5A288CKDZ5CBK05          3267 Alpine Pass         Katz   NaN
5   01HQSF3HE82WBJVMKAVJ6Q7DXS           30 Onsgard Pass       Avavee   NaN
6   01HQSF3HE9VT5B1GE1EB33EANA            1 Walton Court      Yakidoo   NaN
7   01HQSF3HE9J9HB659PHBKB1CC2       71 American Terrace       Wikizz   NaN
8   01HQSF3HE9BRSCSWJM9EDENREN     38087 Golf Course Way        Skiba   NaN
9   01HQSF3HEAAF1FRKHJQHQPBM3K              1 Kim Center         Oozz   NaN
10  01HQSF3HEAAQ2027HTP5KQ040K               461 1st Way       Devbug   NaN
11  01HQSF3HEATQ5JG77MDMW3VD49  10793 Burning Wood Plaza      Edgetag   NaN
12  01HQSF3HEBQ8YTAW4N47DREHEB         4615 Thompson Way         Muxo   NaN
13  01HQSF3HEB7TZHZEFM83YBGSS5         4313 Donald Place       Skyble   NaN
14  01HQSF3HEBN4T1TRSSN1CW81HF         15 Caliangt Trail      Blogpad   NaN
15  01HQSF3HEBECFJMM8BKSKPAYGA       180 Fallview Street       Skivee   NaN
16  01HQSF3HEBF1MEW2BE8XTA7TY6         749 Farwell Trail     Edgeclub   NaN
17  01HQSF3HEB4WTA0CXWS442K4EB           97204 Eagan Way       Skinte   NaN
18  01HQSF3HECEAAMVRQDRPYCBNXM      73587 Caliangt Court        Mycat   NaN
19  01HQSF3HEC3RS60QWHH7JX71PK     41142 Glendale Circle       Meezzy   NaN
20  01HQSF3HECX5RN3R74Y5ZSP8TD      2565 Carpenter Place       Tambee   NaN
21  01HQSF3HECPBW3XX8WQCGCHF8H        156 Tennyson Drive         Ooba   NaN
22  01HQSF3HEDE7EKP5GYC8B489V4            09 East Avenue      Kwilith   NaN
23  01HQSF3HEDD5KK6RJD81ZWRH5B             6 Harper Pass        InnoZ   NaN
24  01HQSF3HED0QVVJTB8JC9FGTX4           751 Carioca Way  Shufflester   NaN
25  01HQSF3HEE3JRDB9YKVN1BYETY       3 Buena Vista Court    Photobean   NaN
26  01HQSF3HEEQQMQFVKBTWY8AQ4P        108 Arapahoe Trail   Jabbertype   NaN
27  01HQSF3HEEQBTMB8X71XKKMYJP            1 Quincy Trail  Jabberstorm   NaN
28  01HQSF3HEFCS3KR2C3525GAAZ0            46 Stang Drive        Roomm   NaN
29  01HQSF3HEFQX4ZA3J3Y27WCB2Q      40137 Quincy Parkway        Avamm   NaN
30  01HQSF3HEG11WX301GKV85M61J       64349 Warbler Point    Wordpedia   NaN
31  01HQSF3HEGX6MX42P6YX5R4JXC           20 Brown Center     Flashset   NaN
32  01HQSF3HEG56ES80M4K8PMAXBH         265 Cherokee Road        Zooxo   NaN
33  01HQSF3HEHZS56RNCB1TZ02ZRE              27 Haas Road       Meevee   NaN
34  01HQSF3HEH521376011FZWX4ZJ            13 Laurel Hill      Kwimbee   NaN
35  01HQSF3HEH9N1KQBKR32BC287V         7 Schiller Avenue      Youtags   NaN
36  01HQSF3HEJTT2AFRN7MVA76HM1         1 Di Loreto Plaza      Feedbug   NaN
37  01HQSF3HEJF3M7C44EYM03JT43          33 Comanche Lane       Skimia   NaN
38  01HQSF3HEJ0V3DDMH4CW46PSXH          7428 Clove Drive        Aimbu   NaN
39  01HQSF3HEJV0TCT0X2Y7RH5EQC           876 Oxford Lane      Gabvine   NaN
40  01HQSF3HEJPD9C9E854V64A2Z3            46 Erie Circle    Topicware   NaN
41  01HQSF3HEJQ9QYVJ24E5DKB67K             7 Myrtle Pass       Mybuzz   NaN
42  01HQSF3HEK828MTAWXBSTNAQ1T        768 Thackeray Pass  Brainlounge   NaN
43  01HQSF3HEKYXPZ7TDER11TP0AK           6210 Upham Road     Livefish   NaN
44  01HQSF3HEKQDV6V7YX4WYMRGQ5       61027 Westend Place      Tagtune   NaN
45  01HQSF3HEK5NPYQH6KNHBGWZ1W       52090 Redwing Drive       Eimbee   NaN

In [5]:
# Mapping of 'tech hub' cities, their state, and some example zip codes (making sure the city, state, and zip codes are coherent relative to each other). 
# Zip codes were obtained from Google searches. 
tech_hub_cities_mapping = {
    'New York': {'state': 'New York', 'zip_codes': ['10001', '10002', '10003']},
    'San Francisco': {'state': 'California', 'zip_codes': ['94102', '94103', '94107']},
    'Los Angeles': {'state': 'California', 'zip_codes': ['90001', '90002', '90003']},
    'Austin': {'state': 'Texas', 'zip_codes': ['73301', '73344', '778613']},
    'Dallas': {'state': 'Texas', 'zip_codes': ['75001', '75019', '75032']},
    'Seattle': {'state': 'Washington', 'zip_codes': ['98101', '98102', '98103']},
    'Atlanta': {'state': 'Georgia', 'zip_codes': ['30033', '30301', '30303']},
    'Denver': {'state': 'Colorado', 'zip_codes': ['80014', '80019', '80022']},
    'Chicago': {'state': 'Illinois', 'zip_codes': ['60007', '60018', '60106']},
    'Miami': {'state': 'Florida', 'zip_codes': ['33101', '33109', '33126']},
    'Tampa': {'state': 'Florida', 'zip_codes': ['33592', '33601', '33602']},
    'Boston': {'state': 'Massachusetts', 'zip_codes': ['02108', '02110', '02111']}
}

def generate_address():
    """Randomly selects a city and corresponding state and zip code from tech hub cities dictionary above."""
    city = random.choice(list(tech_hub_cities_mapping.keys()))
    state = tech_hub_cities_mapping[city]['state']
    zip_code = random.choice(tech_hub_cities_mapping[city]['zip_codes'])
    return f"{city}, {state}, {zip_code}"

# Assign random city, state, and zip code to each address
#company_df['Address'] = company_df['Address'].apply(lambda x: generate_address())
#company_df

In [ ]:
# Assign each company a random 'type' from some preset company types
company_types = ['Private Corporation', 'Non-Profit Organization']

### Employee
- Mockaroo was used to generate the Employee_ID, Name, Job Title, Department, and Company column values. 
- However, because Mockaroo generates either fake or random real company names that may or may not have been represented in our (real) job postings data, we modified the Company column by imputing it with random Company names sourced from our Company relation. This improves our application data's realism significantly by making the two relations more consistent with each other.

In [26]:
employee_df = pd.read_csv('data/Employee.csv')
employee_df

,Employee_ID,Name,Job Title,Department,Company
0,01HQ9SN558SBTGP3CJ0SFCNX58,Johan Debold,Design Engineer,Accounting,Lendbuzz
1,01HQ9SN559DXNCX8PZGSPX86DQ,Aaron Janicki,Payment Adjustment Coordinator,Accounting,Zeno Group
2,01HQ9SN55ADXDE35WM2X25FRFN,Atalanta Watting,Marketing Manager,Business Development,Second Order Effects
3,01HQ9SN55BJ68WCF69VZ75WN9D,Kippie Caple,Director of Sales,Support,Domo
4,01HQ9SN55B1AQ4A44XRSQYVQ4B,Francklyn Jansey,Administrative Officer,Sales,Comerica Bank
...,...,...,...,...,...
94,01HQ9SN57BECEEC1DEDFDV2HPN,Katheryn Joannidi,Professor,Support,Tempus
95,01HQ9SN57B6SHA3DBMQQWB97AV,Irwin Giffen,Help Desk Operator,Services,Northwestern Mutual
96,01HQ9SN57C19SH5TQ03KMD41XB,Sarette Cheel,Speech Pathologist,Product Management,Skydio
97,01HQ9SN57DA8AY2Y6M4EE0KYVJ,Hillel Pero,Senior Financial Analyst,Business Development,The Walt Disney Company
98,01HQ9SN57DHCJ84D75BYFBF1JV,Natty Dagwell,Assistant Manager,Sales,Ebay

### Recruiter

### Candidate

### Job Portal

### Job Posting

### Review

In [ ]:
# Generate Reviews using random review ID and an LLM for the Review body