## Talent Trove Data Generation

In order to populate our Talent Trove database, we used real job postings from job aggregators online (e.g. Simplify by Michael Yan) for our job postings, and Mockaroo for our other tables. Additionally, we use an LLM as shown below to generate authentic-seeming reviews for the Review table text. 

The procedure used to obtain and preprocess each data CSV for the Talent Trove Database relations is described under its respective heading.

### Import Statements

In [1]:
import pandas as pd
import numpy as np
import random

### Full Time Job
- The data scraped from the above included the Role, Location, Application Link, and Date Posted for each tuple. 

#### Preprocessing: 
- 
-

In [10]:
full_time_job_df = pd.read_csv('data/Tech_Full_Time_Roles.csv', header=0)
full_time_job_df

,Company,Role,Location,Application/Link,Date Posted
0,Squarepoint Capital,Financing Trader,"London, UK","<a href=""https://boards.greenhouse.io/embed/j...",Feb 28
1,Altera Digital Health,Associate Software Engineer - Remote,Remote in USA,"<a href=""https://boards.greenhouse.io/alterad...",Feb 28
2,Altera Digital Health,Associate Software Engineer - Remote,Remote in USA,"<a href=""https://boards.greenhouse.io/alterad...",Feb 28
3,Lucid,Data Analyst,"Raleigh, NC","<a href=""https://boards.greenhouse.io/lucidso...",Feb 28
4,Lucid,Data Analyst,"Salt Lake City, UT","<a href=""https://boards.greenhouse.io/lucidso...",Feb 28
...,...,...,...,...,...
475,Virtu Financial,Trading Operations Analyst,"Austin, TX",üîí,Jul 19
476,Tower Research Capital,Quantitative Research Analyst,<details><summary>**5 locations**</summary>La...,"<a href=""https://www.tower-research.com/open-...",Jul 19
477,Harmony,AI Backend Engineer,"Palo Alto, CA",üîí,Jul 19
478,IXL Learning,Software Engineer ‚Äì New Grad,"Raleigh, NC",üîí,Jul 19
479,Konrad Group,Software Developer ‚Äì Entry Level,"Vancouver, BC, Canada",üîí,Jul 19

In [32]:
# Keep only 300 rows
full_time_job_df = full_time_job_df[:300]
print(len(full_time_job_df))

300

In [ ]:
full_time_requirements = ['Tableau data analyst certification', 'AWS Cloud Practitioner certification']

In [ ]:
# Save final job postings df for full time roles in 'Full_Time_Job.csv' for Full_Time_Job relation!

### Internship
- Our original internship data, stored in Tech_Internship.csv, was sourced from the Github page "Summer 2024 Tech Internships by Pitt CSC & Simplify" owned by Simplify, found here, on February 28th: https://github.com/SimplifyJobs/Summer2024-Internships
- This included Company, Role, Location, Application/Link, and Date Posted for each role. 
- For our Internship_Job table, we need Job_ID, Experience, Location, Requirements, Skills, Salaried (boolean), and Duration attributes.
 
#### Preprocessing: 
- In the initial data scraped from Github, a 'Ü≥' symbol was present in certain rows' 'Company' column denoting that the company name is the same as in the row before it. We impute the correct company name for each occurrence of this symbol.
- We dropped the Application/Link and Date Posted columns. 
- We generate a unique integer Job_ID for each internship posting.
- We randomly impute a value for the Experience, Requirements, Skills, Saliaried, and Duration attributes.

In [28]:
internship_df = pd.read_csv('data/Tech_Internship.csv', header=0)
internship_df

,Company,Role,Location,Application/Link,Date Posted
0,Chime,Software Engineer Intern - Growth Funding,SF,"<a href=""https://boards.greenhouse.io/chime/j...",Feb 28
1,CACI,Software Development Intern - Summer 2024,Remote in USA,"<a href=""https://caci.wd1.myworkdayjobs.com/E...",Feb 28
2,Western Digital,Summer 2024 Software Engineering Intern,"Longmont, CO","<a href=""https://jobs.smartrecruiters.com/Wes...",Feb 27
3,Veracode,Solutions Architecture and Security Consultin...,"Burlington, MA","<a href=""https://www.veracode.com/career/job?...",Feb 27
4,Roku,Machine Learning Engineer Intern,"San Jose, CA","<a href=""https://www.weareroku.com/jobs/57580...",Feb 27
...,...,...,...,...,...
2480,Zurich,Internship Program,Multiple Locations,üîí,May 2023
2481,BTIG,Software Engineer Intern,Multiple Locations,üîí,May 2023
2482,Internet Brands,Intern Software Engineer,"Los Angeles, California",üîí,May 2023
2483,Panasonic,Software Electrical Engineer Intern,TX,üîí,May 2023
2484,Capital One,Product Development Intern üõÇ,"McLean, VA</br>Plano, TX",üîí,May 2023

In [29]:
# Keep only 300 rows
internship_df = internship_df[:300]
print(len(internship_df))

300

In [30]:
# Replace 'Ü≥' symbols with correct company names, i.e. company name before that row
for i in range(len(internship_df)): 
    if internship_df.loc[i, 'Company'] == 'Ü≥ ' or internship_df.loc[i, 'Company'] == ' ‚Ü≥ ':
        internship_df.loc[i, 'Company'] = internship_df.loc[i-1, 'Company']
        
# Verify this was done correctly for all tuples
if not (internship_df['Company'] == 'Ü≥').any() or (internship_df['Company'] == ',Ü≥').any():
    print("There are no more 'Ü≥' symbols in the 'Company' column!")
internship_df

There are no more 'Ü≥' symbols in the 'Company' column!

/tmp/ipykernel_8576/1524265969.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  internship_df.loc[i, 'Company'] = internship_df.loc[i-1, 'Company']

,Company,Role,Location,Application/Link,Date Posted
0,Chime,Software Engineer Intern - Growth Funding,SF,"<a href=""https://boards.greenhouse.io/chime/j...",Feb 28
1,CACI,Software Development Intern - Summer 2024,Remote in USA,"<a href=""https://caci.wd1.myworkdayjobs.com/E...",Feb 28
2,Western Digital,Summer 2024 Software Engineering Intern,"Longmont, CO","<a href=""https://jobs.smartrecruiters.com/Wes...",Feb 27
3,Veracode,Solutions Architecture and Security Consultin...,"Burlington, MA","<a href=""https://www.veracode.com/career/job?...",Feb 27
4,Roku,Machine Learning Engineer Intern,"San Jose, CA","<a href=""https://www.weareroku.com/jobs/57580...",Feb 27
...,...,...,...,...,...
295,Inari Agriculture,Enterprise Data Quality Intern,"Cambridge, MA","<a href=""https://boards.greenhouse.io/inariag...",Dec 08
296,Quantcast,Software Engineering Intern - Summer 2024,"Seattle, WA","<a href=""https://jobs.lever.co/quantcast/9ab8...",Dec 07
297,Electric Hydrogen,Firmware Intern Summer 2024,"San Jose, CA","<a href=""https://eh2.com/careers?gh_jid=43477...",Dec 07
298,Niantic,Software Engineering Intern,"San Francisco, CA","<a href=""https://app.ripplematch.com/v2/publi...",Dec 06
299,Marshall Wace,Technology Internship (Summer 2024) üõÇ,"New York, NY","<a href=""https://www.mwam.com/news/internship...",Dec 06

In [31]:
# Drop duplicate rows
internship_df.drop_duplicates(inplace=True)
internship_df

/tmp/ipykernel_8576/919899477.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  internship_df.drop_duplicates(inplace=True)

,Company,Role,Location,Application/Link,Date Posted
0,Chime,Software Engineer Intern - Growth Funding,SF,"<a href=""https://boards.greenhouse.io/chime/j...",Feb 28
1,CACI,Software Development Intern - Summer 2024,Remote in USA,"<a href=""https://caci.wd1.myworkdayjobs.com/E...",Feb 28
2,Western Digital,Summer 2024 Software Engineering Intern,"Longmont, CO","<a href=""https://jobs.smartrecruiters.com/Wes...",Feb 27
3,Veracode,Solutions Architecture and Security Consultin...,"Burlington, MA","<a href=""https://www.veracode.com/career/job?...",Feb 27
4,Roku,Machine Learning Engineer Intern,"San Jose, CA","<a href=""https://www.weareroku.com/jobs/57580...",Feb 27
...,...,...,...,...,...
295,Inari Agriculture,Enterprise Data Quality Intern,"Cambridge, MA","<a href=""https://boards.greenhouse.io/inariag...",Dec 08
296,Quantcast,Software Engineering Intern - Summer 2024,"Seattle, WA","<a href=""https://jobs.lever.co/quantcast/9ab8...",Dec 07
297,Electric Hydrogen,Firmware Intern Summer 2024,"San Jose, CA","<a href=""https://eh2.com/careers?gh_jid=43477...",Dec 07
298,Niantic,Software Engineering Intern,"San Francisco, CA","<a href=""https://app.ripplematch.com/v2/publi...",Dec 06
299,Marshall Wace,Technology Internship (Summer 2024) üõÇ,"New York, NY","<a href=""https://www.mwam.com/news/internship...",Dec 06

In [ ]:
# Drop Date Posted

In [ ]:
# Assign a Job_ID to each internship

In [ ]:
# Randomly impute a value for the Experience, Requirements, Skills, Saliaried, and Duration attributes for each tuple 
intern_experience_vals = ['None Required', 'Previous industry internship experience required (>=3 months)', 'Previous research/academic experience required (>=3 months)', 'Minimum 1 year previous industry internship experience required', 'Previous research/academic highly desirable']
intern_requirements_vals = ['Willing to relocate', 'Willing to travel up to 20%', 'Must meet base technical criteria', 'Must be proficient in Microsoft Office Suite', 'Good sense of humor', 'Ability to work independently', 'Familiar with Agile methodologies', 'Must have valid license', 'Must tolerate dogs in the workplace']
intern_skills_vals = ['Python', 'Scala', 'Pandas', 'AI/ML frameworks', 'PyTorch', 'Keras', 'Tensorflow', 'AWS', 'Azure', 'Google Cloud Platform', 'SQL', 'Oracle Databases', 'Databases', 'Java', 'Ruby', 'Ruby SQL', 'Flask', 'SQLite', 'PostGreSQL', 'Tableau', 'PowerBI', 'Software Development', 'C++', 'C#', 'HTML/CSS', 'JavaScript', 'MongoDB', 'Neo4j', 'Agile', 'Scrum', 'Vue.js', 'React', 'Angular', 'Docker', 'Kubernetes', 'Sphinx', 'Jupyter', 'Git', 'Algorithms', 'Django', 'Problem-Solving', 'Leadership', 'Communication', 'Web Development', 'Frontend Stack', 'Backend Stack']
duration_vals = ['4 weeks', '8 weeks', '12 weeks', '16 weeks']

# Make only 5% of values Salaried = False because I don't want to live in a database world where most companies benefit off the backs of innocent, eager interns

In [ ]:
# Save final internships df in 'Internship_Job.csv' for Internship_Job relation!

### Coop Job

### Company
- Mockaroo was used to obtain the Company_ID, Location, and Name column values for N rows, where N was the number of unique companies identified in our job postings. 
- We imput the Name attribute for the Company relation with Company names obtained from our job posting sources (namely, both full time roles and internship roles). There should be one entry in the Company table for each unique company found in either job postings CSV. 
- Because the location option on Mockaroo was only a street address, we impute a random city, state, and zip code as shown below.
- Additionally, we assign a random company type for the Type column. We arbitrarily deem 80% of the companies as private corporations, 5% as non-profit, and 15% as startups.

In [64]:
company_df = pd.read_csv('data/Mockaroo/Mockaroo-Company.csv', header=0)
company_df

                     Company_ID                 Address          Name  Type
0    01HQXAVCMWEXEJYR1CVK9QPZQ7          414 Havey Hill  Dazzlesphere   NaN
1    01HQXAVCMXRWCNSE1XGC88Z5KR      8989 Swallow Plaza         Skiba   NaN
2    01HQXAVCMXTRC4Y81YV23C1ZQ8          4778 Sage Lane      Edgeclub   NaN
3    01HQXAVCMXCRNPED9KR90QAGJN          42 Corben Road      Gigazoom   NaN
4    01HQXAVCMXJ11TZ0EJQNZST6SP      3 Sycamore Parkway         Quire   NaN
..                          ...                     ...           ...   ...
306  01HQXAVCQZT7RE42HZ1RT90XT3         23 Corscot Road        Meezzy   NaN
307  01HQXAVCQZYF5N9HVP8QNCXW97     566 Cordelia Center        BlogXS   NaN
308  01HQXAVCR0PX1DP6TJNR6FAJ4M    935 Old Gate Parkway        Skyble   NaN
309  01HQXAVCR0113ZBMBE6D7ARSM2  3792 Rutledge Crossing         Mydeo   NaN
310  01HQXAVCR009GYX7Z739EYC6DQ       9204 East Parkway       Tagopia   NaN

[311 rows x 4 columns]

In [65]:
# Get names of all unique companies represented in the database
full_time_companies = full_time_job_df['Company'].unique().tolist()
internship_companies = internship_df['Company'].unique().tolist()
all_company_names = list(set(full_time_companies + internship_companies))
print(f"There are {len(all_company_names)} companies in the dataset.")

There are 311 companies in the dataset.

In [66]:
# Replace Company Name values with real names
company_df['Name'] = all_company_names
company_df

,Company_ID,Address,Name,Type
0,01HQXAVCMWEXEJYR1CVK9QPZQ7,414 Havey Hill,Altera Digital Health,NaN
1,01HQXAVCMXRWCNSE1XGC88Z5KR,8989 Swallow Plaza,Scale AI,NaN
2,01HQXAVCMXTRC4Y81YV23C1ZQ8,4778 Sage Lane,Voya Financial,NaN
3,01HQXAVCMXCRNPED9KR90QAGJN,42 Corben Road,Formlabs,NaN
4,01HQXAVCMXJ11TZ0EJQNZST6SP,3 Sycamore Parkway,Tenstorrent,NaN
...,...,...,...,...
306,01HQXAVCQZT7RE42HZ1RT90XT3,23 Corscot Road,HCVT,NaN
307,01HQXAVCQZYF5N9HVP8QNCXW97,566 Cordelia Center,Zynga,NaN
308,01HQXAVCR0PX1DP6TJNR6FAJ4M,935 Old Gate Parkway,Pure Storage,NaN
309,01HQXAVCR0113ZBMBE6D7ARSM2,3792 Rutledge Crossing,Grammarly,NaN
310,01HQXAVCR009GYX7Z739EYC6DQ,9204 East Parkway,MarketAxess,NaN

In [67]:
# Mapping of 'tech hub' cities, their state, and some example zip codes (making sure the city, state, and zip codes are coherent relative to each other). 
# Zip codes were obtained from Google searches. 
tech_hub_cities_mapping = {
    'New York': {'state': 'New York', 'zip_codes': ['10001', '10002', '10003']},
    'San Francisco': {'state': 'California', 'zip_codes': ['94102', '94103', '94107']},
    'Los Angeles': {'state': 'California', 'zip_codes': ['90001', '90002', '90003']},
    'Austin': {'state': 'Texas', 'zip_codes': ['73301', '73344', '778613']},
    'Dallas': {'state': 'Texas', 'zip_codes': ['75001', '75019', '75032']},
    'Seattle': {'state': 'Washington', 'zip_codes': ['98101', '98102', '98103']},
    'Atlanta': {'state': 'Georgia', 'zip_codes': ['30033', '30301', '30303']},
    'Denver': {'state': 'Colorado', 'zip_codes': ['80014', '80019', '80022']},
    'Chicago': {'state': 'Illinois', 'zip_codes': ['60007', '60018', '60106']},
    'Miami': {'state': 'Florida', 'zip_codes': ['33101', '33109', '33126']},
    'Tampa': {'state': 'Florida', 'zip_codes': ['33592', '33601', '33602']},
    'Boston': {'state': 'Massachusetts', 'zip_codes': ['02108', '02110', '02111']}
}

def generate_address(str_address):
    """Randomly selects a city and corresponding state and zip code from tech hub cities dictionary above."""
    city = random.choice(list(tech_hub_cities_mapping.keys()))
    state = tech_hub_cities_mapping[city]['state']
    zip_code = random.choice(tech_hub_cities_mapping[city]['zip_codes'])
    return str_address + ', ' + city + ', ' + state + ' ' + zip_code

# Assign random city, state, and zip code to each address
company_df['Address'] = company_df['Address'].apply(lambda x: generate_address(x).strip('"'))
company_df['Address'] = company_df['Address'].astype(str)
company_df

,Company_ID,Address,Name,Type
0,01HQXAVCMWEXEJYR1CVK9QPZQ7,"414 Havey Hill, New York, New York 10003",Altera Digital Health,NaN
1,01HQXAVCMXRWCNSE1XGC88Z5KR,"8989 Swallow Plaza, Chicago, Illinois 60018",Scale AI,NaN
2,01HQXAVCMXTRC4Y81YV23C1ZQ8,"4778 Sage Lane, Chicago, Illinois 60007",Voya Financial,NaN
3,01HQXAVCMXCRNPED9KR90QAGJN,"42 Corben Road, San Francisco, California 94107",Formlabs,NaN
4,01HQXAVCMXJ11TZ0EJQNZST6SP,"3 Sycamore Parkway, Austin, Texas 778613",Tenstorrent,NaN
...,...,...,...,...
306,01HQXAVCQZT7RE42HZ1RT90XT3,"23 Corscot Road, Boston, Massachusetts 02110",HCVT,NaN
307,01HQXAVCQZYF5N9HVP8QNCXW97,"566 Cordelia Center, Los Angeles, California 9...",Zynga,NaN
308,01HQXAVCR0PX1DP6TJNR6FAJ4M,"935 Old Gate Parkway, San Francisco, Californi...",Pure Storage,NaN
309,01HQXAVCR0113ZBMBE6D7ARSM2,"3792 Rutledge Crossing, Austin, Texas 73301",Grammarly,NaN
310,01HQXAVCR009GYX7Z739EYC6DQ,"9204 East Parkway, Miami, Florida 33126",MarketAxess,NaN

In [68]:
# Assign each company a random 'type' from some preset company types
company_types = ['Private Corporation', 'Non-Profit Organization', 'Startup']
probabilities = [0.80, 0.05, 0.15]
company_df['Type'] = np.random.choice(company_types, size=len(company_df), p=probabilities)
company_df

,Company_ID,Address,Name,Type
0,01HQXAVCMWEXEJYR1CVK9QPZQ7,"414 Havey Hill, New York, New York 10003",Altera Digital Health,Private Corporation
1,01HQXAVCMXRWCNSE1XGC88Z5KR,"8989 Swallow Plaza, Chicago, Illinois 60018",Scale AI,Private Corporation
2,01HQXAVCMXTRC4Y81YV23C1ZQ8,"4778 Sage Lane, Chicago, Illinois 60007",Voya Financial,Private Corporation
3,01HQXAVCMXCRNPED9KR90QAGJN,"42 Corben Road, San Francisco, California 94107",Formlabs,Private Corporation
4,01HQXAVCMXJ11TZ0EJQNZST6SP,"3 Sycamore Parkway, Austin, Texas 778613",Tenstorrent,Private Corporation
...,...,...,...,...
306,01HQXAVCQZT7RE42HZ1RT90XT3,"23 Corscot Road, Boston, Massachusetts 02110",HCVT,Private Corporation
307,01HQXAVCQZYF5N9HVP8QNCXW97,"566 Cordelia Center, Los Angeles, California 9...",Zynga,Private Corporation
308,01HQXAVCR0PX1DP6TJNR6FAJ4M,"935 Old Gate Parkway, San Francisco, Californi...",Pure Storage,Startup
309,01HQXAVCR0113ZBMBE6D7ARSM2,"3792 Rutledge Crossing, Austin, Texas 73301",Grammarly,Private Corporation
310,01HQXAVCR009GYX7Z739EYC6DQ,"9204 East Parkway, Miami, Florida 33126",MarketAxess,Private Corporation

In [69]:
# Save final company data
company_df.to_csv('data/Company.csv', index=False)

### Employee
- Mockaroo was used to generate the Employee_ID, Name, Job Title, Department, and Company column values. 
- However, because Mockaroo generates either fake or random real company names that may or may not have been represented in our (real) job postings data, we modified the Company column by imputing it with random Company names sourced from our Company relation. This improves our application data's realism significantly by making the two relations more consistent with each other.

In [56]:
employee_df = pd.read_csv('data/Mockaroo/Mockaroo-Employee.csv')
employee_df

,Employee_ID,Name,Job Title,Department,Company
0,01HQ9SN558SBTGP3CJ0SFCNX58,Johan Debold,Design Engineer,Accounting,Lendbuzz
1,01HQ9SN559DXNCX8PZGSPX86DQ,Aaron Janicki,Payment Adjustment Coordinator,Accounting,Zeno Group
2,01HQ9SN55ADXDE35WM2X25FRFN,Atalanta Watting,Marketing Manager,Business Development,Second Order Effects
3,01HQ9SN55BJ68WCF69VZ75WN9D,Kippie Caple,Director of Sales,Support,Domo
4,01HQ9SN55B1AQ4A44XRSQYVQ4B,Francklyn Jansey,Administrative Officer,Sales,Comerica Bank
...,...,...,...,...,...
94,01HQ9SN57BECEEC1DEDFDV2HPN,Katheryn Joannidi,Professor,Support,Tempus
95,01HQ9SN57B6SHA3DBMQQWB97AV,Irwin Giffen,Help Desk Operator,Services,Northwestern Mutual
96,01HQ9SN57C19SH5TQ03KMD41XB,Sarette Cheel,Speech Pathologist,Product Management,Skydio
97,01HQ9SN57DA8AY2Y6M4EE0KYVJ,Hillel Pero,Senior Financial Analyst,Business Development,The Walt Disney Company
98,01HQ9SN57DHCJ84D75BYFBF1JV,Natty Dagwell,Assistant Manager,Sales,Ebay

### Recruiter

In [57]:
recruiter_df = pd.read_csv('data/Mockaroo/Mockaroo-Recruiter.csv')
recruiter_df

,Username,Name,Address,Company,Specialization
0,fbrafield0,Fernandina Brafield,7272 Mesta Drive,Comerica Bank,Accounting
1,cmeech1,Corrine Meech,582 Warner Drive,Domo,Research and Development
2,dfeander2,Dalston Feander,12567 Elgar Street,Five9,Support
3,rbloggett3,Rawley Bloggett,533 Orin Street,TS Imagine,Legal
4,ehoulston4,Etheline Houlston,06 Pond Center,Align Technology,Marketing
5,bgascar5,Ban Gascar,1 Surrey Road,Linkedin,Business Development
6,lvose6,Loy Vose,3 Forest Run Road,Hudson River Trading,Marketing
7,ffossitt7,Ferdinanda Fossitt,98 Eliot Junction,Ramp,Accounting
8,abeagin8,Angela Beagin,0 Miller Place,Bodo.ai,Support
9,mcrowcher9,Miltie Crowcher,3824 Messerschmidt Plaza,Artisan Partners,Human Resources
10,obrechera,Olia Brecher,02 Buhler Way,TS Imagine,Human Resources
11,ahoutbyb,Anni Houtby,9 Fallview Way,Chick-fil-a,Human Resources
12,elicciardic,Ethelbert Licciardi,95 Pine View Junction,Mark43,Sales
13,okiddd,Otho Kidd,723 Portage Alley,Lumen,Business Development
14,mcorbridgee,Morna Corbridge,281 Heffernan Street,Extreme Reach,Research and Development
15,cvenessf,Courtney Veness,5244 Crowley Pass,SIEMENS,Services
16,jlibermoreg,Jim Libermore,64384 Bluejay Street,Workiva,Services
17,ctowseh,Clarita Towse,8443 Sloan Circle,Intuitive,Accounting
18,ohulburdi,Odella Hulburd,415 Farragut Park,Honeywell,Training
19,mparbrookj,Moll Parbrook,65816 Melby Alley,Wabtec Corporation,Training
20,jmcclochk,Joeann McCloch,3 Spohn Crossing,Skydio,Training
21,pgambiel,Paule Gambie,0478 Reindahl Terrace,Workiva,Services
22,ryerbym,Ringo Yerby,16008 Straubel Trail,Genuine Parts Company,Legal
23,dchelln,Derk Chell,3496 Loeprich Court,Fizz,Human Resources
24,kbrehato,Kaleena Brehat,14 Mifflin Parkway,TS Imagine,Product Management
25,ckedwardp,Case Kedward,65 Spenser Pass,Mastercard,Human Resources
26,kvivashq,Kareem Vivash,97973 Warner Place,Rivian,Training
27,xalexanderr,Ximenez Alexander,3 Lake View Center,Five9,Marketing
28,bgrunnells,Belicia Grunnell,0398 Rutledge Court,Lumen,Product Management
29,rasaaft,Rosaline Asaaf,171 Ohio Pass,TS Imagine,Engineering
30,gjohnu,Gian John,5053 Kedzie Court,Five9,Services
31,mdzenisenkav,Merry Dzenisenka,07 3rd Way,Zeno Group,Legal
32,zvendittow,Zola Venditto,76 Johnson Parkway,Advisor360¬∞,Research and Development
33,cmethamx,Claus Metham,75959 Oakridge Road,Comcast,Human Resources
34,icatfordy,Ivonne Catford,0455 Debs Avenue,Kitware,Business Development
35,kcapewellz,Keslie Capewell,62782 Bobwhite Road,Polaris,Legal
36,rtheis10,Rudy Theis,50441 Westerfield Circle,CesiumAstro,Marketing
37,hvanyukhin11,Herminia Vanyukhin,591 Clarendon Way,Uncountable,Engineering
38,gnaisby12,Gilligan Naisby,11305 Schurz Place,Archer,Support
39,ebeaufoy13,Emmit Beaufoy,59171 Doe Crossing Park,Second Order Effects,Services
40,xhugonnet14,Xaviera Hugonnet,77 Bayside Park,Ancestry,Research and Development
41,elangcastle15,Elsinore Langcastle,1 Lillian Circle,Anduril,Research and Development
42,dfarries16,Dulcie Farries,5 Ridge Oak Alley,Align Technology,Sales
43,eworledge17,Esme Worledge,387 Derek Parkway,Workiva,Product Management
44,tburet18,Tyson Buret,713 Blaine Street,Chick-fil-a,Business Development
45,agimblet19,Adelheid Gimblet,28117 School Street,MyFitnessPal,Legal
46,kcowoppe1a,Kessia Cowoppe,5 Kedzie Place,CesiumAstro,Legal
47,fallerton1b,Freda Allerton,25 Charing Cross Alley,Erie Insurance Group,Support
48,ctrodd1c,Cecile Trodd,9 Summit Junction,Proofpoint,Human Resources
49,ssignorelli1d,Swen Signorelli,67664 Moland Court,Generac Clean Energy,Research and Development

### Candidate

### Job Portal

### Job Posting

### Review

In [ ]:
# Generate Reviews using random review ID and an LLM for the Review body